﻿@model Quacker.Models.UserViewQuacks

@{
    ViewBag.Title = "Index";
}

<h2>Home </h2>

<div>
    <div class="col-md-4">
        <table class="table">
            <tr>
                <th>
                    Random Quacks you might like
                </th>

                <th></th>
            </tr>

            @foreach (var item in Model.RandomQuacks)
            {
            <tr>
                <td>
                    @Html.ActionLink(item.Title, "Details", "Quacks", new { id = item.QuackId }, null)
                </td>
            </tr>
             }
        </table>
    </div>
    <div>
        @foreach (var item in Model.NewQuacks)
        {

            <div class="card  mb-3">
                <div class="card-header"> <h4 class="card-text">@item.Title</h4> </div>
                <div class="card-body">
                    <p class="card-text">@item.Text</p>
                    <p class="card-text">@item.Date</p>
                </div>
            </div>
        }


    </div>
</div>