﻿@model Quacker.Models.Quack
@{
    ViewBag.Title = "Landing";
}

<div class="jumbotron">
    <h1>Welcome To Quacker</h1>
    <p class="lead">Find out what people are saying and the latest news.</p>
    <p>@Html.ActionLink("Register Now", "Register", "Users")</p>
</div>


    <div >
        <h2>Quack of the day</h2>
        <h3>@Html.DisplayFor(m => m.Title) </h3>
        <p>@Html.DisplayFor(m => m.Text) </p>
    </div>
