﻿@model IEnumerable<Quacker.Models.Quack>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>My Quacks</title>
</head>
<body>
    <h2>My Quacks</h2>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.QuackId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QuackId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.QuackId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.QuackId })
            </td>
        </tr>
        }

    </table>
</body>
</html>
